.boxDesign{
    width: 800px;
    height: 1400px;
    border: 1px solid lightslategray;
    float: center;
    text-align: center;

}


.boxPosition{
    padding-top:5%;
    position: absolute;
    left: 30%;
    top: 10%; 
    margin-left: -100px;
    margin-top: -75px;
    
}


.title{
    font-family: Calibri;
    font-weight: lighter;
    padding-left: 3%;
    color: slategray;
    
}


hr{
    width: 95%;
    height: 1px;
    background-color: lightgray;
}


